<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

 <form action="/edit-category" method="POST">
    <div class="form-group">
      <label for="title">Category Name</label>
      <input
        type="text"
        id="name"
        name="name"
        maxlength="150"
        required
        value="<%= categoryDetails.name %>"
      />
    </div>

    <button type="submit">Update Category</button>

</main>
<%- include('partials/footer') %>